/*
 * refrag.js project page :: stylesheet
 * Uses LESS syntax (http://lesscss.org)
 * @author Karol Kuczmarski "Xion"
*/


@import "bootstrap.less";

@headerColor: #007200;


body {
	margin: 0;
	background-color: #ffeeac;
	color: #1e2329
}

a {
	color: @headerColor;
	text-decoration: none;
}
a:hover {
	color: #40a240;
}

h1, h2, h3, h4, h5, h6 {
	color: darken(@headerColor, 15);
	&:before {
		color: @headerColor;
		content: "#^ ";
	}
}
h2 {
	#font .serif(normal, 33px, 40px);
}


img#github_corner {
	position: fixed;
	border: 0 none;
	margin: 0;
	top: 0;
	right: 0;
}


div#page {
	width: 800px;
	margin: 20px auto;
	#font .serif(normal, 22px, 24px);

	header {
		width: 100%;
		margin-bottom: 40px;

		#title {
			#font .serif(normal, 88px, 90px);
			color: @headerColor;
			text-shadow: 0 1px 1px #40a240;
		}
		#slogan {
			#font .serif(normal, 36px, 40px);
			color: #40a240;
			text-shadow: 0 1px 1px ligthen(#40a240, 5);
		}
		&:before {
			display: block;
			content: "#^";
			float: right;
			margin-right: 20px;
			#font .serif(bold, 136px, 140px);
			color: @headerColor;
			text-shadow: 0 1px 1px #40a240;
		}
	}

	code {
		display: inline;
		#font .monospace(normal, 0.8em, 1em);
		span.indent {
			padding-left: 2em;
		}
	}
	& > code {
		display: block;
		white-space: pre-line;
		padding: 10px 20px;
		margin: 10px -20px;
		padding-left: 50px;
		.border-radius(3px);
		border: 1px dashed @headerColor;
	}

	footer {
		margin-top: 30px;
		text-align: right;
		font-size: small;
		color: #7e8389;
	}
}

.social {
	list-style-image: ;
	div {
		float: left;
		width: 85px;
	}
}